.link {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80%;
}

h1 {
    align-content: center;
    text-align: center;
}
.container {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}